@import "../../../../styles/custom-themes/app-theme";

mat-toolbar-row {
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 0 30px;
  margin-bottom: 80px;
}

mat-sidenav-container {
  position: fixed;
  height: calc(100% - 64px);
  min-height: calc(100% - 64px);
  width: 100%;
  min-width: 100%;
}

app-theme-menu {
  margin-left: auto;
}

.active {
  background-color: map-get($primary, 50);
}
