.dashboard-home {
  margin-bottom: 24px + 24px + 80px;

  // TODO: copy to better location
  .checkbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    padding-top: 24px;
  }
}
