<table mat-table matSort [dataSource]="holdingsTableData"
       mat-sort
       matSortActive="percentage"
       matSortDirection="desc"
       matSortStart="desc"
>

  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="image-td">
      <img *ngIf="element.icon.length"
           [src]="'assets/icons/coins/' + element.icon"
           appImgFallback="assets/icons/coins/fallback.png"
           alt="coin icon"/>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Coin</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="baseFiat">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="baseFiat">Base Currency</th>
    <td mat-cell *matCellDef="let element">{{element.amountInFiat.currency}}</td>
  </ng-container>

  <ng-container matColumnDef="percentage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="percentage">Total % of base FIAT</th>
    <td mat-cell *matCellDef="let element"> {{ element.percentage | percent: '1.0-2' }} </td>
  </ng-container>

  <ng-container matColumnDef="amountInCoin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Coin</th>
    <td mat-cell *matCellDef="let element"> {{element.amountInCoin}} </td>
  </ng-container>

  <ng-container matColumnDef="amountInFiat">
    <th mat-header-cell *matHeaderCellDef>Total in FIAT</th>
    <td mat-cell *matCellDef="let element">{{element.amountInFiat.amount | currency:element.amountInFiat.currency }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [hidden]="row.amountInFiat.amount === 0 && hideZeroBalances"></tr>
</table>
